.card__container {
  color: white;
  width: 75%;
  margin: 0 auto;
  position: relative;
}
.cardEffect {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  display: none;
  position: absolute;
  height: 98%;
  z-index: 2;

  color: white;
}
.card--imageContainer {
  position: relative;
}
.card__container--plusIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3em;
}
.card {
  width: max-content;
  color: white;
  position: relative;
}
.card__container--image {
  width: 200px;
  border-radius: 0.3rem;
  position: relative;
}

.card_description--cardType {
  opacity: 0.7;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 4em;
  word-spacing: 0.5em;
}
.card_description_PriceDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .3em;
}
.card_descripton--discount {
  background-color: #0074e4;
  padding: 0.5rem;
  border: 0;
  border-radius: 3px;
  color: white;
}
.opacity-low {
  opacity: 0.5;
}
.card--imageContainer:hover {
  opacity: 1;
}
.card:hover .cardEffect {
  display: block;
}
.card:hover .cardEffect--icon {
  opacity: 1;
}

.cardEffect--icon {
  width: 10px;
  height: 10px;
  position: relative;
  left: 85%;
  top: 2%;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;

  cursor: pointer;
}
