.slider__container {
  margin-top: 1rem;
  width: 75%;
  margin: 0 auto;
}
.track__container {
  background-color: rgb(18, 18, 18);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 1em;
  display: block;
}

.slide {
  position: absolute;
  width: 80%;
  left: -200%;
  transition: left 0.4s ease-in-out;
  border-radius: 1rem;
}

.slide--image {
  display: block;
  width: 100%;
  height: 100%;
}
.slider__navigation {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: flex-end;
  color: white;
}
.nav--button {
  padding: 1rem;
}
.nav--img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.slider-nav-item {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  width: 15%;
  padding: 1em;
  gap: 0.5em;

  margin: 0.5em;
  border-radius: 10px;
}
.slider-nav-item:hover {
  background: #18181c;
}
